@font-face {
    font-family: linotype;
    src: url(./Linotype\ Feltpen\ Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: linotype;
    src: url(./Linotype\ Feltpen\ Medium.otf) format("opentype");
    font-weight: medium;
    font-style: normal;
} */