@font-face {
    font-family: handwritten;
    src: url(./Handwritten.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: handwritten;
    src: url(./Handwritten\ -\ Italic.otf) format("opentype");
    font-weight: normal;
    font-style: italic;
}