@font-face {
    font-family: poppins;
    src: url(./Poppins-Regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: poppins;
    src: url(./Poppins-Italic.ttf) format("opentype");
    font-weight: normal;
    font-style: italic;
}

/* @font-face {
    font-family: poppins;
    src: url(./Poppins-Bold.ttf) format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: poppins;
    src: url(./Poppins-BoldItalic.ttf) format("opentype");
    font-weight: bold;
    font-style: italic;
} */

